Use the following dataset - https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

In [2]:
# %load_ext cudf.pandas
import pandas as pd
from nltk.tokenize import word_tokenize as wt 
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer as ps
import re

In [3]:
df=pd.read_csv("IMDB Dataset.csv",header=0)

In [4]:
# Problem 1

# Apply all the preprocessing techniques that you think are necessary

In [5]:
htmltagpattern = re.compile(r'<[^>]+>')
def remove_htmltag(text):
    return re.sub(htmltagpattern, ' ', text)
df['review']=df['review'].apply(lambda x: remove_htmltag(x))
df['review']=df['review'].apply(lambda x: str(x).replace('.', '').replace(',', '').replace("'", '').replace('"', '').replace('-',' ').replace('&','and').replace('(','').replace(')','').replace('?',''))
df['review']=df['review'].str.lower()
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production   the filming te...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [6]:
# st= "This show was an amazing, fresh & innovative idea in the 70s when it first aired. The first 7 or 8 years were brilliant, but things dropped off after that. By 1990, the show was not really funny anymore, and it's continued its decline further to the complete waste of time it is today.<br /><br />It's truly disgraceful how far this show has fallen. The writing is painfully bad, the performances are almost as bad - if not for the mildly entertaining respite of the guest-hosts, this show probably wouldn't still be on the air. I find it so hard to believe that the same creator that hand-selected the original cast also chose the band of hacks that followed. How can one recognize such brilliance and then see fit to replace it with such mediocrity? I felt I must give 2 stars out of respect for the original cast that made this show such a huge success. As it is now, the show is just awful. I can't believe it's still on the air."
# x=remove_num(st)
# x=remove_htmltag(x)
# wt(x.replace('.', '').replace(',', '').replace("'", '').replace('"', '').replace('-',' ').replace('&','and').replace('(','').replace(')','').replace('?',''))#.replace','')

In [7]:
def remove_num(text):
    num = re.compile(r'\b\d+(\.\d+)?\b')
    return re.sub(num, '',text)
df['review']=df['review'].apply(lambda x: remove_num(x))

In [8]:
def remove_stopwords(text):
    stopWords = set(stopwords.words('english'))
    words = wt(text)
    filtered_words = [word for word in words if word.lower() not in stopWords]
    return ' '.join(filtered_words)

In [9]:
df['review'].apply(lambda x: remove_stopwords(x))

0        one reviewers mentioned watching oz episode yo...
1        wonderful little production filming technique ...
2        thought wonderful way spend time hot summer we...
3        basically theres family little boy jake thinks...
4        petter matteis love time money visually stunni...
                               ...
49995    thought movie right good job wasnt creative or...
49996    bad plot bad dialogue bad acting idiotic direc...
49997    catholic taught parochial elementary schools n...
49998    im going disagree previous comment side maltin...
49999    one expects star trek movies high art fans exp...
Name: review, Length: 50000, dtype: object

In [10]:
# Problem 2

# Find out the number of words in the entire corpus and also the total number of unique words(vocabulary) using just python

In [11]:
# Problem 3

# Apply One Hot Encoding

In [12]:
# Problem 4

# Apply bag words and find the vocabulary also find the times each word has occured

In [13]:
# Problem 5

# Apply bag of bi-gram and bag of tri-gram and write down your observation about the dimensionality of the vocabulary

In [14]:
# Problem 6

# Apply tf-idf and find out the idf scores of words, also find out the vocabulary.