In [1]:
import pandas as pd
import numpy as np
import requests as rq
import json
from nltk.tokenize import word_tokenize as wt 
from nltk.tokenize import sent_tokenize as st
from nltk.corpus import stopwords
import re

In [2]:
# genre_api = rq.get('https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US')
# genr = genre_api.text
# genre_data=json.loads(genr)
# # genre_data['genres']
# gen_d = pd.DataFrame.from_dict(genre_data['genres'])
# # gen_d.to_csv("genre_data")

In [3]:
# api = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1"
# movie_api = rq.get(api)
# mov = movie_api.text
# mov_data = json.loads(mov)
# mov_data.pop('page')
# print(mov_data['results'])
# mov_df= pd.DataFrame.from_dict(mov_data['results'])
# mov_df.drop(columns=["adult","backdrop_path","id","original_language","popularity","poster_path","release_date","title","video","vote_average","vote_count"], inplace= True)

# for i in range(2,450):
#     api = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page="+str(i)
#     movie_api = rq.get(api)
#     mov = movie_api.text
#     mov_data = json.loads(mov)
#     mov_data.pop('page')
#     # print(mov_data['results'])
#     newdata=pd.DataFrame.from_dict(mov_data['results'])
#     newdata.drop(columns=["adult","backdrop_path","id","original_language","popularity","poster_path","release_date","title","video","vote_average","vote_count"], inplace= True)
#     # print(newdata)
#     mov_df= pd.concat([mov_df,newdata],ignore_index=True)
#     # newdata.info()
# # mov_df.to_csv("mov_data")

In [4]:
# genre_mapping = dict(zip(gen_d['id'],gen_d['name']))
# mov_df['genre'] = mov_df['genre_ids'].apply(lambda ids: [genre_mapping.get(id) for id in ids])
# mov_df.drop(['genre_ids'],inplace=True,axis=1)
# mov_df['genre'] = mov_df['genre'].apply(lambda x: ', '.join(map(str, x)))

# mov_df['genre'] = mov_df['genre'].str.lower()
# mov_df['original_title'] = mov_df['original_title'].str.lower()
# mov_df['overview'] = mov_df['overview'].str.lower()

In [5]:
mov_df = pd.read_csv('mov_data',header=0,index_col=0)

**Removing Non English Character movie name from 'original_title' column**

In [6]:
english_pattern = r'^[a-zA-Z0-9\s.,\'&()!?"-]+$'
mov_df['english_rows'] = mov_df['original_title'].str.contains(english_pattern, na=True)
mov_df[mov_df['english_rows']==False]
mov_df= mov_df[mov_df['english_rows']==True]
mov_df.reset_index(drop=True,inplace=True)
mov_df.drop(columns=['english_rows'],inplace=True)
mov_df

,original_title,overview,genre
0,the godfather,"spanning the years 1945 to 1955, a chronicle o...","drama, crime"
1,the shawshank redemption,framed in the 1940s for the double murder of h...,"drama, crime"
2,the godfather part ii,in the continuing saga of the corleone crime f...,"drama, crime"
3,schindler's list,the true story of how businessman oskar schind...,"drama, history, war"
4,12 angry men,the defense and the prosecution have rested an...,drama
...,...,...,...
7434,brice 3,"brice is back. the world has changed, but not ...",comedy
7435,left behind,a small group of survivors are left behind aft...,"thriller, action, science fiction"
7436,plan 9 from outer space,"in california, an old man grieves the loss of ...","horror, science fiction"
7437,date movie,spoof of romantic comedies which focuses on a ...,"comedy, romance"
7438,the starving games,"in this hunger games spoof, kantmiss evershot ...",comedy

**Removing special characters from 'overview' 'genre'**

In [7]:
# replace_special_characters = lambda x: x.replace('.', '').replace(',', '').replace("'", '').replace('"', '')
mov_df['overview']=mov_df['overview'].apply(lambda x: str(x).replace('.', '').replace(',', '').replace("'", '').replace('"', '').replace('-',' ').replace('&','and'))
mov_df['genre']=mov_df['genre'].apply(lambda x: str(x).replace('.', '').replace(',', '').replace("'", '').replace('"', ''))

In [8]:
# #both are required to resolve lookup error
# import nltk
# nltk.download('punkt')
# nltk.download('stopwords')

**Stop Word removal and Tokenization of overview Column**

In [9]:
def remove_stopwords(text):
    stopWords = set(stopwords.words('english'))
    words = wt(text)
    filtered_words = [word for word in words if word.lower() not in stopWords]
    return ' '.join(filtered_words)

mov_df['overview']=mov_df['overview'].apply(lambda w : remove_stopwords(w))
mov_df['overview']=mov_df['overview'].apply(lambda x: str(x).replace('lt ', 'leutinent ').replace('dr ', 'doctor '))
# mov_df['overview']=mov_df['overview'].apply(lambda x: wt(x))

In [10]:
# r =mov_df['overview'][4]

In [11]:
# Only if required 
# mov_df['genre']=mov_df['genre'].apply(lambda x: wt(x))

**Stemming of overview column**

In [12]:
from nltk.stem import PorterStemmer

In [14]:
ps = PorterStemmer()

In [15]:
def pStem(text):
    stemmed_words = [ps.stem(word) for word in wt(text)]
    return ' '.join(stemmed_words)
mov_df['overview']=mov_df['overview'].apply(lambda x: pStem(x))

In [18]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
import spacy
nlp = spacy.load("en_core_web_sm")
lemmatizer = WordNetLemmatizer()

In [19]:
def lemmaOv(text):
    lemm = [word.lemma_ for word in nlp(text)]
    return ' '.join(lemm)
mov_df['overview']=mov_df['overview'].apply(lambda x: lemmaOv(x))

In [20]:
mov_df['overview']=mov_df['overview'].apply(lambda x: wt(x))

In [21]:
mov_df[['overview']]

                                               overview
0     [span, year, 1945, 1955, chronicl, fiction, it...
1     [frame, 1940, doubl, murder, wife, lover, upst...
2     [continu, saga, corleon, crime, famili, young,...
3     [true, stori, businessman, oskar, schindler, s...
4     [defens, prosecut, rest, juri, file, juri, roo...
...                                                 ...
7434  [brice, back, world, chang, good, friend, mari...
7435  [small, group, survivor, leave, behind, millio...
7436  [california, old, man, griev, loss, wife, next...
7437  [spoof, romant, comedi, focus, man, crush, par...
7438  [hunger, game, spoof, kantmiss, evershot, must...

[7439 rows x 1 columns]